.Form {
  background: #994f2c;
  padding: 30ox;
  border-radius: 50% 65% 50% 70%;
  box-shadow: 60px -19px rgb(100, 160, 158, 0.4);
  margin: 0 auto;
  max-width: 400px;
  margin-top: 20px;
  display: block;
}
#Search {
  border-radius: 10px;
  border: black;
  padding: 40px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
